p {
  margin: 0;
  padding: 0;
}

a {
  color: #00007b;
  font-weight: bold;
}

a.selected {
  text-decoration: none;
}

header {
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer > section {
  display: flex;
  max-width: 600px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

footer > section span {
  margin-right: 5px;
}

footer a {
  font-weight: normal;
}

.game .header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.game .mines {
  width: 30px;
  text-align: left;
}

.game .time {
  width: 30px;
  text-align: right;
}

.game-feedback {
  height: 60px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.game-feedback p {
  padding: 0;
  margin: 0;
  line-height: 60px;
}

.game {
  margin-left: auto;
  margin-right: auto;
}

.game .board {
  background-color: silver;
}

.game .row {
  display: flex;
  flex-direction: row;
}

.game .row .tile {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}

.game .row p.tile {
  font-size: small;
  text-align: center;
  padding: 0;
  margin: 0;
  border-left: solid 1px #7b7b7b;
  border-top: solid 1px #7b7b7b;
  border-bottom: none;
  border-right: none;
}

.game .row p.tile > span {
  font-weight: bold;
}
.game .row p.tile > span.tile-1 {
  color: #00f;
}

.game .row p.tile > span.tile-2 {
  color: #007b00;
}

.game .row p.tile > span.tile-3 {
  color: red;
}

.game .row p.tile > span.tile-4 {
  color: #00007b;
}

.game .row p.tile > span.tile-5 {
  color: #800000;
}

.game .row p.tile > span.tile-6 {
  color: #1b8080;
}

.game .row p.tile > span.tile-7 {
  color: #000000;
}

.game .row p.tile > span.tile-8 {
  color: #808080;
}

.game .row button.tile {
  padding: 0;
  line-height: 12px;
}
