p {
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
}
.game .header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.game-feedback {
  height: 60px;
}

.game-feedback p {
  padding: 0;
  margin: 0;
}

.game .board {
  background-color: silver;
}

.game .row {
  display: flex;
  flex-direction: row;
}

.game .row .tile {
  width: 15px;
  height: 15px;
}

.game .row p.tile {
  font-size: small;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .row button.tile {
  padding: 0;
  line-height: 12px;
}
